In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.2.0'

In [17]:
df = pd.read_csv('green_tripdata_2019-09.csv')

/tmp/ipykernel_4726/3716745654.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

In [38]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime, format='%Y-%m-%d')
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime, format='%Y-%m-%d')

In [31]:
df.to_sql(name='green_trip_data', con=engine, if_exists='append')

63

In [35]:
df[df.lpep_pickup_datetime == '2019-09-18' && df.lpep_dropoff_datetime == '2019-09-18']

SyntaxError: invalid syntax (2071689020.py, line 1)

In [40]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [41]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [43]:
zone = pd.read_csv('taxi+_zone_lookup.csv')

In [44]:
zone.to_sql(name='zone_data', con=engine, if_exists='replace')

265